@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2, h {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
    color: #5eacef;
}

/*-----------------------Code modified from Rosie project----------------*/

.logo {
    background: url("../images/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;;
}

/*-------------------------- Map and Styling ------------------------------------------*/

#map {
    height: 70%;
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
    background: no-repeat;
}

.destinations {
    text-align: center;
    min-height: 0px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0;

}


.col-sm-4 {
    position: relative;
    min-height: 5px;
    padding-right: 25px;
    padding-left: 25px;
}

.row {
    margin: 0px;


}
  }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

/* --------------Footer code Inspired and modified from Rosie project---------------------------*/

.social-links {
    padding-bottom: 15px;

}

.scial-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #95f3f3;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

a {
    color: #dff0d8;
    ;

}

li a i:hover {
    background: #e84610;
    color: #f7e791;
}

.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-property: color;
    transition-duration: .3s;
}

footer {
    background-color: #525252;
    color: #95f3f3;
    margin-bottom: 5px;
}

#footer-details {
    margin: 1px;
}

/*-------------------Code from Rosie project-----------------------------*/

@media (min-width: 768px) {
    .column {
        background-color: #e84610;
    }
}

@media (min-width: 992px) {
    .column {
        background-color: #0997d3;
        width: 30%;
        margin: 10px;
    }
}
